In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [7]:
test_19 = pd.read_csv('../preprocessed_data/yellow_tripdata_2019-01.csv')
test_19 = test_19.sample(frac =.1).reset_index()
test_19

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1128620,1,2019-01-06 09:39:36,2019-01-06 09:52:19,1,3.30,1,N,114,161,1,12.5,0.0,0.5,3.30,0.0,0.3,16.60,NaN
1,250273,2,2019-01-02 11:32:08,2019-01-02 11:43:32,1,2.15,1,N,230,43,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,NaN
2,4775679,1,2019-01-20 17:55:07,2019-01-20 18:11:48,1,2.90,1,N,264,264,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55,NaN
3,2105129,2,2019-01-10 12:12:27,2019-01-10 12:28:21,1,0.94,1,N,246,100,1,10.5,0.0,0.5,2.00,0.0,0.3,13.30,NaN
4,5588581,1,2019-01-24 08:56:27,2019-01-24 09:16:59,1,3.10,1,N,140,107,1,15.5,0.0,0.5,1.70,0.0,0.3,18.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766774,922737,1,2019-01-05 11:12:35,2019-01-05 11:19:01,3,0.90,1,N,230,48,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80,NaN
766775,4666609,1,2019-01-20 03:21:41,2019-01-20 03:49:20,1,6.40,1,N,162,129,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,NaN
766776,5146208,1,2019-01-22 13:56:22,2019-01-22 14:04:10,2,1.30,1,N,100,142,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30,0.0
766777,6162729,2,2019-01-26 06:36:47,2019-01-26 06:41:09,1,1.14,1,N,186,161,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,0.0
766778,3013650,2,2019-01-13 17:54:17,2019-01-13 18:30:37,1,7.55,1,N,100,68,1,28.5,0.0,0.5,5.86,0.0,0.3,35.16,NaN

In [8]:
test_19['time_hr'] = test_19['tpep_pickup_datetime'].str[11:13]
test_19['tpep_pickup_datetime'] = pd.to_datetime(test_19['tpep_pickup_datetime'])
test_19['date'] = test_19['tpep_pickup_datetime'].dt.normalize()
test_19 = test_19.drop(['VendorID', 'RatecodeID', 'store_and_fwd_flag', 'extra', 'mta_tax', 'improvement_surcharge', 'congestion_surcharge', 'index'],axis=1)
test_19

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,time_hr,date
0,2019-01-06 09:39:36,2019-01-06 09:52:19,1,3.30,114,161,1,12.5,3.30,0.0,16.60,09,2019-01-06
1,2019-01-02 11:32:08,2019-01-02 11:43:32,1,2.15,230,43,2,9.5,0.00,0.0,10.30,11,2019-01-02
2,2019-01-20 17:55:07,2019-01-20 18:11:48,1,2.90,264,264,1,13.0,2.75,0.0,16.55,17,2019-01-20
3,2019-01-10 12:12:27,2019-01-10 12:28:21,1,0.94,246,100,1,10.5,2.00,0.0,13.30,12,2019-01-10
4,2019-01-24 08:56:27,2019-01-24 09:16:59,1,3.10,140,107,1,15.5,1.70,0.0,18.00,08,2019-01-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
766774,2019-01-05 11:12:35,2019-01-05 11:19:01,3,0.90,230,48,2,6.0,0.00,0.0,6.80,11,2019-01-05
766775,2019-01-20 03:21:41,2019-01-20 03:49:20,1,6.40,162,129,2,23.5,0.00,0.0,24.80,03,2019-01-20
766776,2019-01-22 13:56:22,2019-01-22 14:04:10,2,1.30,100,142,2,7.5,0.00,0.0,8.30,13,2019-01-22
766777,2019-01-26 06:36:47,2019-01-26 06:41:09,1,1.14,186,161,2,5.5,0.00,0.0,6.30,06,2019-01-26
766778,2019-01-13 17:54:17,2019-01-13 18:30:37,1,7.55,100,68,1,28.5,5.86,0.0,35.16,17,2019-01-13

In [9]:
test_weather = pd.read_csv('../preprocessed_data/test_weather.csv')
test_weather = test_weather.drop(['STATION'],axis=1)
test_weather['PRCP']= (test_weather['PRCP'] > 0)
test_weather['SNOW']= (test_weather['SNOW'] > 0)
test_weather['SNWD']= (test_weather['SNWD'] > 0)
test_weather['TAVG'] = 0.5*(test_weather['TMAX'] + test_weather['TMIN'])
test_weather = test_weather.drop(['TMAX','TMIN'],axis=1)
test_weather

          DATE   PRCP   SNOW   SNWD  TAVG
0   2019-01-01   True  False  False  48.5
1   2019-01-02  False  False  False  37.5
2   2019-01-03  False  False  False  40.5
3   2019-01-04  False  False  False  41.0
4   2019-01-05   True  False  False  44.0
5   2019-01-06  False  False  False  40.0
6   2019-01-07  False  False  False  29.5
7   2019-01-08   True  False  False  39.5
8   2019-01-09   True  False  False  39.5
9   2019-01-10  False  False  False  31.0
10  2019-01-11  False  False  False  25.5
11  2019-01-12  False  False  False  27.0
12  2019-01-13  False  False  False  29.0
13  2019-01-14  False  False  False  27.0
14  2019-01-15  False  False  False  30.5
15  2019-01-16  False  False  False  34.5
16  2019-01-17  False  False  False  28.5
17  2019-01-18   True   True   True  34.0
18  2019-01-19   True   True  False  34.5
19  2019-01-20   True  False  False  28.0
20  2019-01-21  False  False  False   9.0
21  2019-01-22  False  False  False  22.0
22  2019-01-23  False  False  False  41.5
23  2019-01-24   True  False  False  47.0
24  2019-01-25  False  False  False  34.0
25  2019-01-26  False  False  False  29.5
26  2019-01-27  False  False  False  40.5
27  2019-01-28  False  False  False  31.5
28  2019-01-29   True  False  False  34.0
29  2019-01-30   True   True  False  20.5
30  2019-01-31  False  False  False   9.0

In [10]:
test_weather['date']  = pd.to_datetime(test_weather['DATE'])
test_weather = test_weather.drop(['DATE'],axis=1)
test_weather

     PRCP   SNOW   SNWD  TAVG       date
0    True  False  False  48.5 2019-01-01
1   False  False  False  37.5 2019-01-02
2   False  False  False  40.5 2019-01-03
3   False  False  False  41.0 2019-01-04
4    True  False  False  44.0 2019-01-05
5   False  False  False  40.0 2019-01-06
6   False  False  False  29.5 2019-01-07
7    True  False  False  39.5 2019-01-08
8    True  False  False  39.5 2019-01-09
9   False  False  False  31.0 2019-01-10
10  False  False  False  25.5 2019-01-11
11  False  False  False  27.0 2019-01-12
12  False  False  False  29.0 2019-01-13
13  False  False  False  27.0 2019-01-14
14  False  False  False  30.5 2019-01-15
15  False  False  False  34.5 2019-01-16
16  False  False  False  28.5 2019-01-17
17   True   True   True  34.0 2019-01-18
18   True   True  False  34.5 2019-01-19
19   True  False  False  28.0 2019-01-20
20  False  False  False   9.0 2019-01-21
21  False  False  False  22.0 2019-01-22
22  False  False  False  41.5 2019-01-23
23   True  False  False  47.0 2019-01-24
24  False  False  False  34.0 2019-01-25
25  False  False  False  29.5 2019-01-26
26  False  False  False  40.5 2019-01-27
27  False  False  False  31.5 2019-01-28
28   True  False  False  34.0 2019-01-29
29   True   True  False  20.5 2019-01-30
30  False  False  False   9.0 2019-01-31

In [11]:
test_19 = test_19[test_19['payment_type'] == 1]
cal = calendar()
holidays = cal.holidays(start="2019-01-01", end="2019-01-31")
test_19['holiday'] = test_19['date'].isin(holidays)
test_19['date'] = pd.to_datetime(test_19['date'])
test_19['weekday'] = ((pd.DatetimeIndex(test_19.date).dayofweek) // 5 == 0).astype(float)

<ipython-input-11-087fc22d568f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_19['holiday'] = test_19['date'].isin(holidays)
<ipython-input-11-087fc22d568f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_19['date'] = pd.to_datetime(test_19['date'])
<ipython-input-11-087fc22d568f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_19['weekday'] = ((pd.DatetimeIndex(test_19.date).dayofweek) // 5 == 0).astype(float)

In [12]:
test_19 = test_19.merge(test_weather, on='date')
test_19

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,time_hr,date,holiday,weekday,PRCP,SNOW,SNWD,TAVG
0,2019-01-06 09:39:36,2019-01-06 09:52:19,1,3.30,114,161,1,12.5,3.30,0.00,16.60,09,2019-01-06,False,0.0,False,False,False,40.0
1,2019-01-06 12:09:48,2019-01-06 12:32:09,5,4.86,100,13,1,19.5,4.06,0.00,24.36,12,2019-01-06,False,0.0,False,False,False,40.0
2,2019-01-06 07:49:14,2019-01-06 08:03:24,2,3.67,249,142,1,13.5,4.00,0.00,18.30,07,2019-01-06,False,0.0,False,False,False,40.0
3,2019-01-06 00:27:22,2019-01-06 00:49:05,1,4.40,158,33,1,17.0,3.65,0.00,21.95,00,2019-01-06,False,0.0,False,False,False,40.0
4,2019-01-06 17:53:58,2019-01-06 18:21:24,1,10.50,68,127,1,32.0,6.55,0.00,39.35,17,2019-01-06,False,0.0,False,False,False,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548599,2019-01-02 13:47:01,2019-01-02 13:53:49,1,1.00,100,48,1,6.5,1.46,0.00,8.76,13,2019-01-02,False,1.0,False,False,False,37.5
548600,2019-01-02 21:19:45,2019-01-02 21:27:21,1,2.54,45,54,1,9.5,1.50,0.00,12.30,21,2019-01-02,False,1.0,False,False,False,37.5
548601,2019-01-02 16:05:46,2019-01-02 16:17:20,5,1.70,236,237,1,9.5,2.26,0.00,13.56,16,2019-01-02,False,1.0,False,False,False,37.5
548602,2019-01-02 13:49:51,2019-01-02 14:05:34,3,2.20,170,142,1,12.0,2.55,0.00,15.35,13,2019-01-02,False,1.0,False,False,False,37.5
548603,2019-01-02 17:39:22,2019-01-02 18:10:20,1,11.20,161,138,1,34.0,8.30,5.76,49.86,17,2019-01-02,False,1.0,False,False,False,37.5

In [13]:
test_19=test_19.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime'],axis=1)
test_19['weekday'] = test_19['weekday'] == 1
test_19['Extreme'] = False
test_19

,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,time_hr,date,holiday,weekday,PRCP,SNOW,SNWD,TAVG,extreme
0,1,3.30,114,161,1,12.5,3.30,0.00,16.60,09,2019-01-06,False,False,False,False,False,40.0,False
1,5,4.86,100,13,1,19.5,4.06,0.00,24.36,12,2019-01-06,False,False,False,False,False,40.0,False
2,2,3.67,249,142,1,13.5,4.00,0.00,18.30,07,2019-01-06,False,False,False,False,False,40.0,False
3,1,4.40,158,33,1,17.0,3.65,0.00,21.95,00,2019-01-06,False,False,False,False,False,40.0,False
4,1,10.50,68,127,1,32.0,6.55,0.00,39.35,17,2019-01-06,False,False,False,False,False,40.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548599,1,1.00,100,48,1,6.5,1.46,0.00,8.76,13,2019-01-02,False,True,False,False,False,37.5,False
548600,1,2.54,45,54,1,9.5,1.50,0.00,12.30,21,2019-01-02,False,True,False,False,False,37.5,False
548601,5,1.70,236,237,1,9.5,2.26,0.00,13.56,16,2019-01-02,False,True,False,False,False,37.5,False
548602,3,2.20,170,142,1,12.0,2.55,0.00,15.35,13,2019-01-02,False,True,False,False,False,37.5,False
548603,1,11.20,161,138,1,34.0,8.30,5.76,49.86,17,2019-01-02,False,True,False,False,False,37.5,False

In [14]:
test_19.to_csv('../preprocessed_data/test_19.csv')